abt_body,
h1,
h2,
p,
img {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  align-items: center;
  font-weight: 3rem;
}

.abt_body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
}

.abt_header {
  background-color: white;
  color: #d8d8d8;
  text-align: center;
  padding: 20px 0;
}

.abt_header h1 {
  font-size: 36px;
  color: whitesmoke;
  align-items: center;
}

.abt_content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #081c29;
  color: #ffff;
  text-align: center;
}

.abt_about-text {
  margin-bottom: 30px;
}
.abt_about-text h2 {
  font-weight: 500px;
}

.abt_team {
  display: flex;
  justify-content: space-between;
}

.abt_team-member {
  flex-basis: calc(50% - 20px);
  text-align: center;
}
.size {
  width: 95px;
  height: 94px;
}

.abt_team-member img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 5px;
}
h2 {
  color: #04a2e2;
  font-size: 2rem;
}
.abt-head {
  font-size: 3rem;
}
